[Unit]
Description=MMDVMHost
After=systemd-user-session.service qnrelay.service

[Service]
Type=simple
ExecStart=/usr/local/bin/XXX /usr/local/etc/YYY.qn
Restart=always

[Install]
WantedBy=multi-user.target
