[Unit]
Description=QnetDTMF
After=systemd-user-session.service

[Service]
Type=simple
ExecStart=/usr/local/bin/qndtmf
Restart=always

[Install]
WantedBy=multi-user.target
