[Unit]
Description=QnetDVRPTR
After=systemd-user-session.service qngateway.service

[Service]
Type=simple
ExecStart=/usr/local/bin/qndvrptr /usr/local/etc/qn.cfg
Restart=always

[Install]
WantedBy=multi-user.target
