[Unit]
Description=QnetITAP
After=systemd-user-session.service

[Service]
Type=simple
ExecStart=/usr/local/bin/qnitap /usr/local/etc/qn.cfg

[Install]
WantedBy=multi-user.target
