[Unit]
Description=QnetLink
Requires=network.target
After=systemd-user-session.service network.target
Before=systemd-user-session.service qngateway.service

[Service]
Type=simple
ExecStart=/usr/local/bin/qnlink /usr/local/etc/qn.cfg
Restart=always

[Install]
WantedBy=multi-user.target
