[Unit]
Description=QnetRelay
After=systemd-user-session.service

[Service]
Type=simple
ExecStart=/usr/local/bin/qnrelay /usr/local/etc/qn.cfg

[Install]
WantedBy=multi-user.target
